/*************************************** MOBILE ***********************/
@media (max-width: 1200px) {
    #top-links .list-inline{
        text-align: center;
    }
    .product-thumb .caption {
        min-height: 180px;
    }
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 32%;
    }
}