body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #868282;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
    background: url(../image/bg.png) repeat left top #f4e0ab;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
.panel,
.panel-default>.panel-heading{
    background-color: #fdf3d6;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h2.catalog-title {
    border-bottom: 1px solid #dec58e;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #6ea500;
    font-size: 17px;
    font-weight: 600;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
    background: transparent;
    border: 0;
    padding-right: 7px;
    color: #323232;
    text-transform: uppercase;
    font-weight: bold;
}
.input-group  #input-sort,
.input-group  #input-limit{
    border-radius: 0;
    box-shadow: none;
    color: #323232
}
.form-group #compare-total{
    color: #323232;
    font-size: 13px;
    padding: 4px 12px;
}
#list-view,
#grid-view{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0 5px;
}
#list-view i,
#grid-view i{
    font-size: 28px;
}
.catalog-view-type-column{
    text-align: right;
}
.catalog-delimiter{
    border: 0;
    border-bottom: 1px solid #dec58e;
}
.catalog-delimiter.bottom{
    margin-top: 7px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* general styles */
.heading-panel-green{
    font-size: 20px;
    line-height: 31px;
    color: #fff;
    margin-bottom: 33px;
    background-color: #6ea500;
    padding: 8px 20px;
    font-family: Open Sans;
}
.heading-panel-green.featured{
    margin-top: 0;
}
.subcategory-list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -30px;
}
.subcategory-list li{
    background-color: #fdf4d7;
    border: 1px solid #dabf87;
    padding: 25px 19px 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 30px;
    float: left;
    margin-left: 30px;
    width: 170px;
}
.subcategory-list li .image{
    display: block;
    text-align: center;
}
.subcategory-list li .image img{
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #f4deb8;
    box-sizing: border-box;
    max-width: 100%;
}
.subcategory-list li .name.subcatname {
    padding-top: 4px;
    height: 42px;
    overflow: hidden;
    margin-bottom: 23px;

}
.subcategory-list li .name.subcatname a{
    margin-bottom: 0;
    color: #6ea500;
    font-style: normal;
    display: inline;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #e56502;
	/*border-bottom: 1px solid #e2e2e2;*/
	padding: 6px 0px 5px 0;
	margin: 0 0 40px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #fff;
	/*text-shadow: 0 1px 0 #FFF;*/
	text-decoration: none;
}
#top-links li{
    border-left: 1px solid #efa062;
    padding: 0 19px;
}
#top-links li:first-child{
    background: none;
    padding-left: 0;
    border-left: 0;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
    font-size: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 40px 0;
}
/* search */
#search {
	margin-bottom: 20px;
    margin-top: 15px;
}
#search .input-lg {
	height: 32px;
	line-height: 20px;
	padding: 0 10px;
    border-radius: 0;
    max-width: 182px;
    float: right;
}
#search .btn-lg {
	font-size: 13px;
	line-height: 18px;
	padding: 7px 16px;
	/*text-shadow: 0 1px 0 #FFF;*/
    border-radius: 0;
    background-color: #6ea500;
    background-image: none;
    color: #fff;
    border: none;
}
#search .btn-lg:hover{
    background-color: #0076ab;
    cursor: pointer;
    border: none;
}
.owl-controls .owl-pagination{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: auto;
    bottom: 15px;
}
.owl-controls div.owl-page span{
    background:#fff;
}
.owl-controls div.owl-page.active span {
    background: #008bc0;
}
/* cart */
#cart {
	margin-bottom: 20px;
    margin-top: 15px;
}
#cart > .btn {
	font-size: 14px;
	line-height: 18px;
	color: #0076ab;
    border: none;
    background: none;
    box-shadow: none;
    text-align: right;
    padding: 7px 16px;
}
#cart.open > .btn {
	background-image: none;
	/*background-color: #FFFFFF;*/
	/*border: 1px solid #E6E6E6;*/
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart > .btn i{
color:#6ea500;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
    background-color: #fdf3d6;
	z-index: 1001;
}
#cart .table-striped>tbody>tr:nth-of-type(odd){
    background-color: #fdf3d6;
}
#cart .table>tbody>tr>td,
#cart .table>tbody>tr>th,
#cart .table>tfoot>tr>td,
#cart .table>tfoot>tr>th,
#cart .table>thead>tr>td,
#cart .table>thead>tr>th{
    border-top: 1px solid #dec58e;
}
#cart .dropdown-menu {
	min-width: 100%;
}
#cart a{
    color: #6ea500;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
    color: #f2d495;
    line-height: normal;
    font-size: 14px;
    word-wrap: break-word;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
footer li{
    padding: 4px 0 3px;
    line-height: 20px;
}
footer li a{
    font-size: 13px;
    color: #a3a3a3;
    word-wrap: break-word;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;

    background-color: #fdf3d6;
    border-radius: 0;
    padding: 12px 20px;
    font-weight: bold;

}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li a{
    color: #323232 !important;
    font-size: 13px;
}
.breadcrumb > li + li:before {
	content: '\00bb';
    padding: 0 5px 0 0;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}

div.owl-wrapper-outer{
    box-shadow: none;
}
/* list group */
.list-group a {
	/*border: 1px solid #DDDDDD;*/
	color: #797569;
	padding: 8px 20px;
    background-color: transparent;
    line-height: 31px;
    font-size: 14px;
}
.list-group li:last-child{
    border: 0;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #6ea500;
	/*border: 1px solid #DDDDDD;*/
	text-shadow: 0 1px 0 #FFF;
    background-color: transparent;
}
.list-group {
    border: none;
    box-sizing: border-box;
}
.list-group ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fdf3d4;
}
.list-group ul.first-lvl > li{
    position: relative;
}
.list-group ul.first-lvl>li:hover ul.second-lvl{
    display: block;
    width: 100%;
    z-index: 100;
}
.list-group ul.second-lvl{
    display: none;
    left: 100%;
    top: 0;
    position: absolute;
}
.list-group .list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group .list-group-item{
    border: 0;
    margin-bottom: -1px;
}
.list-group .list-group-item.list-title{
    margin-bottom: 0;
}
.list-group li{
    border: 0;
    border-bottom: 1px solid #f0d4aa;
}
.list-group li i{
    float: right;
    line-height: 31px;
    font-size: 21px;
}
.list-group .list-group-item.list-title,
.list-group .list-group-item.list-title:hover{
    background-color: #e56502;
    color: #fff;
    font-size: 20px;
    text-shadow: none;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	overflow: hidden;

    background-color: #fdf4d7;
    border: 1px solid #dabf87;
    padding: 25px 19px 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 30px;
}
.product-thumb h4{
    margin-top: 0;
    margin-bottom: 22px;
    max-height: 16px;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
    background-color: #fff;
    border: 1px solid #f4deb8;
    width: 100%;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 a{
    text-decoration: none;
    font-size: 15px;
    color: #6ea500;
    font-weight: 500;
    font-family: Open Sans;
    text-transform: uppercase;
}
.product-thumb h4 a:hover{
    color: #0076ab;
}
.product-thumb .caption {
	padding: 0;
	min-height: 137px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
    font-size: 20px;
    color: #444444;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 41px;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	/*border-top: 1px solid #ddd;*/
	/*background-color: #eee;*/
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
 .product-thumb .description-text{
    font-size: 13px;
    line-height: 19px;
    color: #868282;
    margin-bottom: 20px;
    font-family: Arial,sans-serif;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 57%;
	display: inline-block;
	/*float: left;*/
	color: #444444;
	text-align: center;
	text-transform: uppercase;

    text-decoration: none;
    cursor: pointer;
    background-color: #fcefce;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    border: 1px solid #dac39e;
    padding: 7px 15px;

}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #fff;
    background-color: #0076ab;
    border-color: #046997;
	text-decoration: none;
	cursor: pointer;
}

.product-thumb .caption .description{
    min-height: 60px;
}
.product-thumb .image{
    margin-bottom: 15px;
}
.product-thumb h4{
    margin-bottom: 10px;
    overflow: hidden;
}

.manufacturers-list a{
    color: #323232;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
}
.manufacturers-list a:hover{
    color:#6ea500;
}
.manufacturers-list .manufacturer-heading{
    background: #fdf3d6;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 6px;
    border-bottom: 1px solid #dec58e;
}
.manufacturers-list .manufacturer-heading span{
    background: #323232;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0;
    width: 50px;
    text-align: center;
}
.manufacturers-list .manufacturer-link{

}
.manufacturers-list .manufacturer-link i{
    color: #6ea500;
    font-size: 21px;
    font-weight: normal;
    line-height: 18px;
    margin-right: 9px;
}
.manufacturers-list  .links-row{
    padding-left: 20px;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}


/* product info */
.product-info{
    font-size: 13px;
}

.product-info h1{
    color: #323232;
    border-bottom: 1px solid #dec58e;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: normal;
}

.product-info  .general-info-column{
    text-transform: uppercase;
    line-height: 24px;color: #323232;
    font-weight: bold;
}
.product-info .prop-value{
    color: #6ea500
}

.product-info .prop-value.in-stock{
    background-color: #6ba239;
    color: #fff;
    padding: 0 7px;
    margin: 0 9px;
    font-size: 16px;
}
.product-info .act-price{
    font-weight: bold;
}
.product-info #input-quantity{
    width: 30px;
    padding: 4px 6px;
    border-radius: 0;
    border-width: 1px;
    display: inline-block;
}
.product-info  #button-cart i{
    font-size: 26px;
    vertical-align: middle;
    margin-right: 9px;
}
.product-info  #button-cart,
.product-info  #button-review{
    display: inline-block;
    background-color: #fcefce;
    font-size: 15px;
    color: #444444;
    padding: 9px 19px 10px 11px;
    margin: 0 20px;
    line-height: 31px;
    font-family: Open Sans;
    font-weight: 600;
    border: 1px solid #d7c09a;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    width: auto;
}
.product-info  #button-cart:hover ,
.product-info  #button-review:hover {
    background-color: #0076AB;
    border-color: #046997;
    color: #fff;
}
.product-info .rating a{
    margin-left: 5px;
    color:#6ea500;
}
.product-info .rating .fa-star-o {
    font-size: 21px;
}

.product-info .table-striped>tbody>tr:nth-of-type(odd){
    padding: 13px 20px;
    line-height: 32px;
    color: #323232;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #dec58e;
    border-bottom: 4px solid #6ea500;
    background-color: #fdf3d6;
}
/* account-login */
.affiliate-login .well,
.account-login .well{
    border: 1px solid #dec58e;
    background-color: #fdf3d6;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 0;
}

.affiliate-login .well .well-icon,
.account-login .well .well-icon,
.affiliate-login .well .well-header,
.account-login .well .well-header{
    display: inline-block;
    max-width: 70%;
    vertical-align: top;
}
.affiliate-login .well .well-header h2,
.account-login .well .well-header h2{
    margin-top: 0;
    font-size: 20px;
    color: #323232;
}
.affiliate-login .well .well-header p,
.account-login .well .well-header p{
    font-style: italic;
    font-weight: normal;
}
.affiliate-login .well .well-icon,
.account-login .well .well-icon{
    font-size: 56px;
    color: #6ea500;
    margin-right: 14px;
    vertical-align: text-bottom;
}
.affiliate-login .well hr,
.account-login .well hr{
    border-bottom: 1px solid #dec58e;
    margin: 15px 0;
}
.affiliate-login .well label,
.account-login .well label{
    font-weight: bold;
    float: left;
    padding: 5px 0;
}
.affiliate-login .well input,
.account-login .well input{
    margin-left: 60px;
    width: 67%;
    padding: 4px 6px;
    line-height: 20px;
    border-radius: 0;
    height: 30px;
}
.affiliate-login .well label,
.account-login .well label,
.affiliate-login .well input,
.account-login .well input{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.affiliate-login .well .btn.btn-primary,
.account-login .well .btn.btn-primary{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding-right: 0px;
    color: #7e7e7e;
    vertical-align: top;
    border: 0;
    box-shadow: none;
    background: transparent;
}
.affiliate-login .well .btn.btn-primary i,
.account-login .well .btn.btn-primary i{
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    margin: 0 9px;
}
.affiliate-login .well .forgotten-link,
.account-login .well .forgotten-link{
    line-height: 33px;
}
.affiliate-login .well .forgotten-link,
.account-login .well .forgotten-link{
    text-decoration: underline;
    display: inline-block;
    color: #6ea500;
    font-style: italic;
    margin-left: 15px;
}

.not-found-content#content a,
.affiliate-account #content a,
.affiliate-edit #content a,
.affiliate-forgotten #content a,
.affiliate-login #content a,
.affiliate-password #content a,
.affiliate-payment #content a,
.affiliate-register #content a,
.affiliate-tracking #content a,
.affiliate-transaction #content a,

.information-contact #content a,
.information-information #content a,
.information-sitemap #content a,

.checkout-checkout #content a,

.checkout-cart #content a,

.product-compare #content a,

.account-account #content a,
.account-return-add #content a,
.account-address-add #content a,
.account-voucher #content a,
.account-address-edit #content a,
.account-edit #content a,
.account-password #content a,
.account-address #content a,
.account-wishlist #content a,
.account-download #content a,
.account-recurring #content a,
.account-reward #content a,
.account-return #content a,
.account-transaction #content a,
.account-newsletter #content a,
.account-logout #content a,
.account-order #content a,
.account-register #content a,
.account-forgotten #content a{
    color: #7e7e7e;
    text-decoration: underline;
}
.not-found-content#content a:hover,
.affiliate-account #content a:hover,
.affiliate-edit #content a:hover,
.affiliate-forgotten #content a:hover,
.affiliate-login #content a:hover,
.affiliate-password #content a:hover,
.affiliate-payment #content a:hover,
.affiliate-register #content a:hover,
.affiliate-tracking #content a:hover,
.affiliate-transaction #content a:hover,

.information-contact #content a:hover,
.information-information #content a:hover,
.information-sitemap #content a:hover,

.checkout-checkout #content a:hover,

.checkout-cart #content a:hover,

.product-compare #content a:hover,

.account-account #content a:hover,
.account-return-add #content a:hover,
.account-address-add #content a:hover,
.account-voucher #content a:hover,
.account-address-edit #content a:hover,
.account-edit #content a:hover,
.account-password #content a:hover,
.account-address #content a:hover,
.account-wishlist #content a:hover,
.account-download #content a:hover,
.account-recurring #content a:hover,
.account-reward #content a:hover,
.account-return #content a:hover,
.account-transaction #content a:hover,
.account-newsletter #content a:hover,
.account-logout #content a:hover,
.account-account-order #content a:hover,
.account-register #content a:hover,
.account-forgotten #content a:hover{
    text-decoration: none;
    color: #6ea500;
}

.not-found-content#content h2,
.affiliate-account #content h2,
.affiliate-edit #content h2,
.affiliate-forgotten #content h2,
.affiliate-login #content h2,
.affiliate-password #content h2,
.affiliate-payment #content h2,
.affiliate-register #content h2,
.affiliate-tracking #content h2,
.affiliate-transaction #content h2,

.information-contact #content h2,
.information-information #content h2,
.information-sitemap #content h2,

.checkout-checkout #content h2,

.checkout-cart #content h2,

.product-compare #content h2,

.account-account #content h2,
.account-return-add #content h2,
.account-address-add #content h2,
.account-voucher #content h2,
.account-address-edit #content h2,
.account-edit #content h2,
.account-password #content h2,
.account-address #content h2,
.account-wishlist #content h2,
.account-download #content h2,
.account-recurring #content h2,
.account-reward #content h2,
.account-return #content h2,
.account-transaction #content h2,
.account-newsletter #content h2,
.account-logout #content h2,
.account-order #content h2,
.account-register #content h2,
.account-forgotten #content h2,

.information-contact #content h1,
.information-information #content h1,
.information-sitemap #content h1,

.checkout-checkout #content h1,

.checkout-cart #content h1,

.product-compare #content h1,

.not-found-content#content h1,
.affiliate-account #content h1,
.affiliate-edit #content h1,
.affiliate-forgotten #content h1,
.affiliate-login #content h1,
.affiliate-password #content h1,
.affiliate-payment #content h1,
.affiliate-register #content h1,
.affiliate-tracking #content h1,
.affiliate-transaction #content h1,

.account-account #content h1,
.account-return-add #content h1,
.account-address-add #content h1,
.account-voucher #content h1,
.account-address-edit #content h1,
.account-edit #content h1,
.account-password #content h1,
.account-address #content h1,
.account-wishlist #content h1,
.account-download #content h1,
.account-recurring #content h1,
.account-reward #content h1,
.account-return #content h1,
.account-transaction #content h1,
.account-newsletter #content h1,
.account-logout #content h1,
.account-order #content h1,
.account-register #content h1,
.account-forgotten #content h1{
    border-bottom: 1px solid #dec58e;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #6ea500;
    font-size: 17px;
    font-weight: 600;
}

.information-contact #content legend,
.information-information #content legend,
.information-sitemap #content legend,

.product-compare #content legend,

.checkout-checkout #content legend,

.checkout-cart #content legend,

.not-found-content#content legend,
.affiliate-account #content legend,
.affiliate-edit #content legend,
.affiliate-forgotten #content legend,
.affiliate-login #content legend,
.affiliate-password #content legend,
.affiliate-payment #content legend,
.affiliate-register #content legend,
.affiliate-tracking #content legend,
.affiliate-transaction #content legend,

.account-account #content legend,
.account-return-add #content legend,
.account-address-add #content legend,
.account-voucher #content legend,
.account-address-edit #content legend,
.account-edit #content legend,
.account-password #content legend,
.account-address #content legend
.account-wishlist #content legend,
.account-download #content legend,
.account-recurring #content legend,
.account-reward #content legend,
.account-return #content legend,
.account-transaction #content legend,
.account-newsletter #content legend,
.account-logout #content legend,
.account-order #content legend,
.account-register #content legend,
.account-forgotten #content legend{
    color: #323232;
    font-size: 15px;
    border-bottom: 1px solid #dec58e;
}


.information-contact #content input,
.information-information #content input,
.information-sitemap #content input,

.product-compare #content input,

.checkout-checkout #content input,

.product-info#content input,

.checkout-cart #content input,
.checkout-cart #content select,
.checkout-checkout #content select,

.not-found-content#content input,
.affiliate-account #content input,
.affiliate-edit #content input,
.affiliate-forgotten #content input,
.affiliate-login #content input,
.affiliate-password #content input,
.affiliate-payment #content input,
.affiliate-register #content input,
.affiliate-tracking #content input,
.affiliate-transaction #content input,

.account-account #content input,
.account-return-add #content input,
.account-address-add #content input,
.account-voucher #content input,
.account-address-edit #content input,
.account-edit #content input,
.account-password #content input,
.account-address #content input,
.account-wishlist #content input,
.account-download #content input,
.account-recurring #content input,
.account-reward #content input,
.account-return #content input,
.account-transaction #content input,
.account-newsletter #content input,
.account-logout #content input,
.account-order #content input,
.account-register #content input,
.account-forgotten #content input,


.information-contact #content textarea,
.information-information #content textarea,
.information-sitemap #content textarea,

.product-compare #content textarea,

.checkout-checkout #content textarea,

.product-info#content textarea,

.checkout-cart #content textarea,

.not-found-content#content textarea,
.affiliate-account #content textarea,
.affiliate-edit #content textarea,
.affiliate-forgotten #content textarea,
.affiliate-login #content textarea,
.affiliate-password #content textarea,
.affiliate-payment #content textarea,
.affiliate-register #content textarea,
.affiliate-tracking #content textarea,
.affiliate-transaction #content textarea,

.account-account #content textarea,
.account-return-add #content textarea,
.account-address-add #content textarea,
.account-voucher #content textarea,
.account-address-edit #content textarea,
.account-edit #content textarea,
.account-password #content textarea,
.account-address #content textarea,
.account-wishlist #content textarea,
.account-download #content textarea,
.account-recurring #content textarea,
.account-reward #content textarea,
.account-return #content textarea,
.account-transaction #content textarea,
.account-newsletter #content textarea,
.account-logout #content textarea,
.account-order #content textarea,
.account-register #content textarea,
.account-forgotten #content textarea{
    border-radius: 0;
    padding: 4px 6px;
    line-height: 20px;
    /*height: 30px;*/
}


.information-contact #content label,
.information-information #content label,
.information-sitemap #content label,

.product-compare #content label,

.checkout-checkout #content label,

.checkout-cart #content label,

.not-found-content#content label,
.affiliate-account #content label,
.affiliate-edit #content label,
.affiliate-forgotten #content label,
.affiliate-login #content label,
.affiliate-password #content label,
.affiliate-payment #content label,
.affiliate-register #content label,
.affiliate-tracking #content label,
.affiliate-transaction #content label,

.account-account #content label,
.account-return-add #content label,
.account-address-add #content label,
.account-voucher #content label,
.account-address-edit #content label,
.account-edit #content label,
.account-password #content label,
.account-address #content label,
.account-wishlist #content label,
.account-download #content label,
.account-recurring #content label,
.account-reward #content label,
.account-return #content label,
.account-transaction #content label,
.account-newsletter #content label,
.account-logout #content label,
.account-order #content label,
.account-register #content label,
.account-forgotten #content label{
    font-size: 13px;
    color: #323232;
    font-weight: bold;
}

.information-contact #content a.btn,
.information-information #content a.btn,
.information-sitemap #content a.btn,

.product-compare #content a.btn,

.checkout-checkout #content a.btn,

.checkout-cart #content a.btn,

.not-found-content#content a.btn,
.affiliate-account #content a.btn,
.affiliate-edit #content a.btn,
.affiliate-forgotten #content a.btn,
.affiliate-login #content a.btn,
.affiliate-password #content a.btn,
.affiliate-payment #content a.btn,
.affiliate-register #content a.btn,
.affiliate-tracking #content a.btn,
.affiliate-transaction #content a.btn,

.account-account #content a.btn,
.account-return-add #content a.btn,
.account-address-add #content a.btn,
.account-voucher #content a.btn,
.account-address-edit #content a.btn,
.account-edit #content a.btn,
.account-password #content a.btn,
.account-address #content a.btn,
.account-wishlist #content a.btn,
.account-download #content a.btn,
.account-recurring #content a.btn,
.account-reward #content a.btn,
.account-return #content a.btn,
.account-transaction #content a.btn,
.account-newsletter #content a.btn,
.account-logout #content a.btn,
.account-order #content a.btn,
.account-register #content a.btn,
.account-forgotten #content a.btn,

.information-contact #content input.btn,
.information-information #content input.btn,
.information-sitemap #content input.btn,

.product-compare #content input.btn,

.checkout-checkout #content input.btn,

.checkout-cart #content input.btn,

#cart .dropdown-menu input.btn,

.not-found-content#content input.btn,
.affiliate-account #content input.btn,
.affiliate-edit #content input.btn,
.affiliate-forgotten #content input.btn,
.affiliate-login #content input.btn,
.affiliate-password #content input.btn,
.affiliate-payment #content input.btn,
.affiliate-register #content input.btn,
.affiliate-tracking #content input.btn,
.affiliate-transaction #content input.btn,

.account-account #content input.btn,
.account-return-add #content input.btn,
.account-address-add #content input.btn,
.account-voucher #content input.btn,
.account-address-edit #content input.btn,
.account-edit #content input.btn,
.account-password #content input.btn,
.account-address #content input.btn,
.account-wishlist #content input.btn,
.account-download #content input.btn,
.account-recurring #content input.btn,
.account-reward #content input.btn,
.account-return #content input.btn,
.account-transaction #content input.btn,
.account-newsletter #content input.btn,
.account-logout #content input.btn,
.account-order #content input.btn,
.account-register #content input.btn,
.account-forgotten #content input.btn,

.information-contact #content button,
.information-information #content button,
.information-sitemap #content button,

.product-compare #content button,

.checkout-checkout #content button,

.checkout-cart #content button,

#cart .dropdown-menu button,

.not-found-content#content button,
.affiliate-account #content button,
.affiliate-edit #content button,
.affiliate-forgotten #content button,
.affiliate-login #content button,
.affiliate-password #content button,
.affiliate-payment #content button,
.affiliate-register #content button,
.affiliate-tracking #content button,
.affiliate-transaction #content button,

.account-account #content button,
.account-return-add #content button,
.account-address-add #content button,
.account-voucher #content button,
.account-address-edit #content button,
.account-edit #content button,
.account-password #content button,
.account-address #content button,
.account-wishlist #content button,
.account-download #content button,
.account-recurring #content button,
.account-reward #content button,
.account-return #content button,
.account-transaction #content button,
.account-newsletter #content button,
.account-logout #content button,
.account-order #content button,
.account-register #content button,
.account-forgotten #content button{
    background: transparent;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: #fcefce;
    font-size: 14px;
    line-height: 19px;
    font-family: Open Sans;
    font-weight: 600;
    border: 1px solid #dac39e;
    border-radius: 0;
    color: #444444;
    padding: 5px 10px;
}

.information-contact #content a.btn:hover,
.information-information #content a.btn:hover,
.information-sitemap #content a.btn:hover,

.product-compare #content a.btn:hover,

.checkout-checkout #content a.btn:hover,

.checkout-cart #content a.btn:hover,

.not-found-content#content a.btn:hover,
.affiliate-account #content a.btn:hover,
.affiliate-edit #content a.btn:hover,
.affiliate-forgotten #content a.btn:hover,
.affiliate-login #content a.btn:hover,
.affiliate-password #content a.btn:hover,
.affiliate-payment #content a.btn:hover,
.affiliate-register #content a.btn:hover,
.affiliate-tracking #content a.btn:hover,
.affiliate-transaction #content a.btn:hover,

.account-account #content a.btn:hover,
.account-return-add #content a.btn:hover,
.account-address-add #content a.btn:hover,
.account-voucher #content a.btn:hover,
.account-address-edit #content a.btn:hover,
.account-edit #content a.btn:hover,
.account-password #content a.btn:hover,
.account-address #content a.btn:hover,
.account-wishlist #content a.btn:hover,
.account-download #content a.btn:hover,
.account-recurring #content a.btn:hover,
.account-reward #content a.btn:hover,
.account-return #content a.btn:hover,
.account-transaction #content a.btn:hover,
.account-newsletter #content a.btn:hover,
.account-logout #content a.btn:hover,
.account-order #content a.btn:hover,
.account-register #content a.btn:hover,
.account-forgotten #content a.btn:hover,

.information-contact #content input.btn:hover,
.information-information #content input.btn:hover,
.information-sitemap #content input.btn:hover,

.checkout-checkout #content input.btn:hover,

.product-compare #content input.btn:hover,

.checkout-cart #content input.btn:hover,

#cart .dropdown-menu input.btn:hover,

.not-found-content#content input.btn:hover,
.affiliate-account #content input.btn:hover,
.affiliate-edit #content input.btn:hover,
.affiliate-forgotten #content input.btn:hover,
.affiliate-login #content input.btn:hover,
.affiliate-password #content input.btn:hover,
.affiliate-payment #content input.btn:hover,
.affiliate-register #content input.btn:hover,
.affiliate-tracking #content input.btn:hover,
.affiliate-transaction #content input.btn:hover,

.account-account #content input.btn:hover,
.account-return-add #content input.btn:hover,
.account-address-add #content input.btn:hover,
.account-voucher #content input.btn:hover,
.account-address-edit #content input.btn:hover,
.account-edit #content input.btn:hover,
.account-password #content input.btn:hover,
.account-address #content input.btn:hover,
.account-wishlist #content input.btn:hover,
.account-download #content input.btn:hover,
.account-recurring #content input.btn:hover,
.account-reward #content input.btn:hover,
.account-return #content input.btn:hover,
.account-transaction #content input.btn:hover,
.account-newsletter #content input.btn:hover,
.account-logout #content input.btn:hover,
.account-order #content input.btn:hover,

.information-contact #content button:hover,
.information-information #content button:hover,
.information-sitemap #content button:hover,

.product-compare #content button:hover,

.checkout-checkout #content button:hover,

.checkout-cart #content button:hover,

#cart .dropdown-menu button:hover,

.not-found-content#content button:hover,
.account-account #content button:hover,
.account-return-add #content button:hover,
.account-address-add #content button:hover,
.account-voucher #content button:hover,
.account-edit #content button:hover,
.account-password #content button:hover,
.account-address #content button:hover,
.account-wishlist #content button:hover,
.account-download #content button:hover,
.account-recurring #content button:hover,
.account-reward #content button:hover,
.account-return #content button:hover,
.account-transaction #content button:hover,
.account-newsletter #content button:hover,
.account-logout #content button:hover,
.account-order #content button:hover,
.account-register #content button:hover,
.account-forgotten #content button:hover{
    background-color: #0076ab;
    border-color: #046997;
    color:#fff;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
.table-bordered{
    border:1px solid #dec58e;
}
